<%-include("partials/header")-%>
<h1>Home</h1>
<p> <%=content%></p>

  <%posts.forEach((item, i) => {%>
    <h1><%= item.title%></h1>
    <p><%=(item.content).substring(0,100)%>...<a href="/posts/<%=item.title%>">Read More</a></p>
<%});%>
<a href="/compose"><button type="submit" class="btn btn-lg" id="btndisclaimer">+</button></a>
<%-include("partials/footer")-%>
